.shopping-cart-container {
    color: #000000;
    background-color: #ff99004d;
    width: 275px;
    height: 944px;
    font-style: normal;
    line-height: normal;
  }
  .shopping-cart-container h6 {
    margin: 0;
    padding-left: 55px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 400;
  }
  .shopping-cart-container h5 {
    color: #2a414f;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.085px;
    padding-left: 20px;
  }
  .clear-btn{
      margin-top: 20px;
      margin-left: 28px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      width: 80%;
      font-size: 15px;
      line-height: normal;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      background: #FF3030;
      padding: 10px;
  }
  .review-btn{
      margin-top: 20px;
      margin-left: 28px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      width: 80%;
      font-size: 15px;
      line-height: normal;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      background: orange;
      padding: 10px;
  }
  .cart-details{
      margin-top: 60px;
  }